{% load staticfiles %}
<html>
<head>
  <title>
  最新ニュース
</title>
  <link rel="stylesheet" href="{% static 'css/news.css' %}">
</head>
<body>
  <ul>
    <li><a href = "#ap_1">読売新聞</a></li>
    <li><a href = "#ap_2">毎日新聞</a></li>
  </ul>
  <div class = yomi>
    <div class = name>
      <div id = ap_1>読売新聞</div>
    </div>
    <div class = kiji>
      {{yomiuri1}}<br>{{yomiuri2}}<br>{{yomiuri3}}<br><br>
    </div>
  </div>

  <div class = mai>
    <div class = name>
      <div id = ap_2>毎日新聞</div>
    </div>
    <div class = kiji>
      {{mainichi1}}<br>{{mainichi2}}<br>{{mainichi3}}<br><br>
    </div>
  </div>
</body>
</html>
