ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: green;
}

.active {
    background-color: #4CAF50;
}

.yomi {
  background-color: #FFF;
  padding: 20px 100px 0px 100px;
}

.mai {
  background-color: #FFF;
  padding: 20px 100px 0px 100px;
}

.nik {
  background-color: #FFF;
  padding: 20px 100px 0px 100px;
}

.name{
  font-size: 30pt;
}


.kiji{
  font-size: 15pt;
}

.name a:link {
    color: black;
}



/* mouse over link */
.name a:hover {
    color: blue;
}

/* selected link */
.name a:active {
    color: blue;
}
